.bottomnavbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100;
    z-index: 10;
    background-color: var(--tg-theme-button-color) !important;
    
}
.bottomnavbar>button{
    color: var(--tg-theme-button-text-color);
}
.Mui-selected {
    color: var(--tg-theme-destructive-text-color) !important;
}
.bottomnavbar>button:focus{
    background-color: var(--tg-theme-button-color);
}