.swiper {
    width: 100%;
    height: 90%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: auto;
    height: 30rem;
    object-fit: cover;
  }

  /* .green-rectangle {
    width: 20rem;
    height: 35rem;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  div.card-image{
    background-color: green;
  }

  /* .brown-rectangle {
    width: 10rem;
    height: 25rem;
    background-color: brown;
  } */

:root{
    --swiper-theme-color: red !important;
}